<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">

            <nav class="col-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Email</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Chat</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Tarefas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Calendar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Cardapio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">User</a>
                    </li><br><br>
                    <ul class="nav flex-column">
                        <h6 class="nav-header">Elementos</h6>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Componentes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Conteudo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Cards</a>
                        </li>
                    </ul>
                </ul>
            </nav>


            <div class="col-6">
                <p>ASDASDASDASDASDASDASD</p>
            </div>

            <nav class="col-3">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Ativo</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false">Dropdown</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Ação</a>
                            <a class="dropdown-item" href="#">Outra ação</a>
                            <a class="dropdown-item" href="#">Algo mais aqui</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Link isolado</a>
                        </div>

                    </li>
                </ul>
            </nav>

        </div>
    </div>
</body>

</html>